.banner {
	background-color: black;
	background-image: url("../../images/index_background.jpg");
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 45vh;
	
	width:73.3%;
	margin: auto;
	margin-top: 10px;
	border-radius: 10px;
	
}



